.img{
    width: fit-content;
}

// .btn{
//         right: -25px;
//         top: 45px;
//     }

.duration{
    position:absolute;
}

ion-back-button::part(native) {
    right: -10px;
    top: 60px;
    background-color: var(--ion-color-rm-gris-claro);
    color: var(--ion-color-rm-gris-claro-contrast);
  }