  <ion-list lines="none">
    <ion-item *ngFor="let character of characters" 
               lines="none"
               (click)="verDetalle(character)" 
               color="rmdark">
 
      <ion-col size="3"> 
          <img [src]="character.image"
               class="imgRedonda"/>
      </ion-col>

      <ion-col size="9">
        <ion-label [color]="character.status | status">{{ character.status }}</ion-label>
        <ion-label class="characterName">{{ character.name }}</ion-label>
        <ion-label class="detail">{{ character.species }} , {{ character.gender }}</ion-label>
        <ion-label class="detail">appears in {{ character.episode.length }} episodes</ion-label>

      </ion-col>

    </ion-item>
  </ion-list>

