<ion-tabs>

  <ion-tab-bar slot="bottom" selectedTab="onclick( $evt )" color="rm">
    
    <ion-tab-button tab="tab1">
      <ion-icon name="people-outline" color="rm-gris"></ion-icon>
      <ion-label color="rm-gris">Personajes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" selected="selectedTab2">
      <ion-icon name="planet-outline" color="rm-gris"></ion-icon>
      <ion-label color="rm-gris">Ubicaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" selected="selectedTab3">
      <ion-icon name="videocam-outline" color="rm-gris"></ion-icon>
      <ion-label color="rm-gris">Episodios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="settings-outline" color="rm-gris"></ion-icon>
      <ion-label color="rm-gris">Configuracion</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>


<!-- <ion-button (click)="toogleVisibility()" expand="full">
  Click me
</ion-button> -->