  <ion-header class="ion-no-border">
  
    <ion-searchbar
      placeholder="Buscar personaje"
      (ionFocus) = "onSearchBarFocus()" 
      [debounce]="450"
      color="rm"
      class="search"
      ></ion-searchbar>
  
      <p>
        <ion-label class="text-small">TOTAL CHARACTERS : {{ EpisodiosTotales }}</ion-label>
      </p>

  </ion-header>
 
<ion-content scrollEvents="true" 
             [appAnimatedFab]="fab">

  <app-characters [characters]="characters"></app-characters>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="rm" #fab>
      <ion-icon name="pencil-outline" color="rm-verde"></ion-icon>
      <span>Compose</span>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button #fab><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
      <ion-fab-button #fab><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
      <ion-fab-button #fab><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
      <ion-fab-button #fab><ion-icon name="logo-youtube"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

 
 
  <ion-infinite-scroll threshold="100px"  
                       position="bottom" 
                       (ionInfinite)="loadData( $event )">

    <ion-infinite-scroll-content loadingSpinner="bubbles" 
                                loadingText="Cargando...">
    </ion-infinite-scroll-content>

  </ion-infinite-scroll>

</ion-content>



