 
  <ion-header [translucent]="true" mode="ios" class="ion-no-border" > 
    <ion-toolbar>
      <ion-title>
        Personajes
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true"> 

    <ion-header collapse="condense" mode="ios" class="ion-no-border">
      <ion-toolbar>
        <ion-title size="large">Personajes</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <!-- <app-card-list [characters]="characters"></app-card-list> -->

    <app-characters [characters]="characters"></app-characters>


    <ion-infinite-scroll 
        threshold="25%"  
        position="bottom" 
        (ionInfinite)="loadData()">
      <ion-infinite-scroll-content 
          loadingSpinner="bubbles" 
          loadingText="Cargando...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  
  </ion-content>
 