 
  

 <ion-header color="rmdark" class="ion-no-border">
 
   <!-- <ion-toolbar>
    <div class="button-bar">
      
      <ion-button *ngFor="let item of temporadas; let i = index" (click)="selectSegment(i)"
      size="small"
      [ngClass]="{'active': item.selected, 'inactive': !item.selected}">
        {{ item.title }}
      </ion-button>

 

    </div>
  </ion-toolbar> -->
  <ion-toolbar color="rmdark" class="ion-no-border">
    <ion-title>
      Episodios
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="rmdark" class="ion-no-border">
   
    <ion-segment value="todos" (ionChange)="segmentChanged($event)" mode="md">
      <div class="button-bar">
        <ion-segment-button 
          *ngFor="let item of temporadas; let i =index" value="{{ item.value }}"
          [ngClass]="{'active': item.selected, 'inactive': !item.selected}"
          (click)="selectSegment(i)"
          size="small">
           {{ item.title }} 
        </ion-segment-button>
      </div>
    </ion-segment>
  
  </ion-toolbar>

 

 </ion-header>




  
 

 

<ion-content>  

  
  <ion-list>
    
    <ion-item *ngFor="let epi of  episode   | filtro:filtroBusqueda:'episode'"
    class="animate__animated animate__fadeIn animate__faster" >
    <ion-label>
      <h3>{{ epi.name }} --  <small>{{ epi.air_date }}</small></h3> 
      <p>
          {{ epi.episode }}
        </p>
      </ion-label>
      
      <!-- <ion-label slot="end" class="ion-text-right"> 
      {{ heroe.publisher}} 
    </ion-label> -->
    
  </ion-item>

</ion-list>
</ion-content>

 

 
 
 
 