<app-header titulo="Personaje"></app-header>

<ion-content scrollEvents="true" 
             [appAnimatedCharacterImage]="characterData"
             >

            <!-- <div>
                    <img class="responsiveImg" [src]="personaje.image" #characterImage>
            </div> -->

            
                
          

    <ion-card class="texto"> 
        <ion-card-content>
 
            <div class="center-image">
                <img [src]="personaje.image" #characterImage>
            </div>

            <p></p>

            <ion-list #characterData> 
                <ion-item lines="full">
                    <ion-label class="ion-text-center fontxxlarge">{{ personaje.name }}</ion-label> 
                </ion-item> 

                <ion-item lines="full">
                    <ion-label slot="start">Status</ion-label>
                    <ion-label slot="end" color="{{ personaje.status | status }}" >{{ personaje.status }}</ion-label> 
                </ion-item> 
 
                <ion-item lines="full">
                    <ion-label slot="start">Especie</ion-label>
                    <ion-label slot="end">{{ personaje.species }}</ion-label> 
                </ion-item>   
                  
                <ion-item lines="full">
                    <ion-label slot="start">Genero</ion-label>
                    <ion-label slot="end">{{ personaje.gender }}</ion-label> 
                </ion-item>                     

                <ion-item lines="full" >
                    <ion-label slot="start">Apariciones</ion-label>
                    <ion-label slot="end">{{ personaje.episode.length }}</ion-label> 
                </ion-item>  

              </ion-list>

        </ion-card-content>

    </ion-card>
 
    <!-- Basic -->
    <ion-accordion-group *ngFor="let episode of episodes" >
        <ion-accordion value="colors" >
        <ion-item slot="header" >
            <ion-label>{{ episode.id }} {{ episode.name }} </ion-label>
        </ion-item>
    
        <ion-list slot="content" >
            <ion-item >
            <ion-label >
                <h4>Emision :  {{ episode.air_date }}</h4>
                <h4>Episodio : {{ episode.episode }}</h4>
                <h4>Personajes : {{ episode.characters.length }}</h4>
            </ion-label>
            </ion-item>
        </ion-list>
        </ion-accordion>
    </ion-accordion-group>

</ion-content>


