<!-- <app-header titulo="Personaje"></app-header> -->
<app-advanced-header [image]="personaje.image"></app-advanced-header>

<ion-content 
    scrollEvents="true" >


    <ion-grid fixed color="primary">
        
        <!-- <ion-row>
            <ion-col size="12">
                <img #characterData class="responsiveImg" [src]="personaje.image" #characterImage>
            </ion-col> 
        </ion-row> -->

        <ion-row>
            <ion-col size="12" class="ion-text-center">
                <ion-label class="NombrePersonaje">{{ personaje.name }}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="padding-bottom">
            <ion-col size="12" class="ion-text-center">
                <ion-label color="{{ personaje.status | status }}" >{{ personaje.status }}</ion-label>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="6">
                <ion-label class="titulo">Genero</ion-label>
            </ion-col>
            <ion-col size="6">
                <ion-label class="titulo">Raza</ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="padding-bottom">
            <ion-col size="6">
                <ion-label class="detalle">{{ personaje.gender }}</ion-label>
            </ion-col>
            <ion-col size="6">
                <ion-label class="detalle">{{ personaje.species }}</ion-label>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12">
                <ion-label class="titulo">Origen</ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="padding-bottom" (click)="verDetalle(personaje.origin.url)" >
            <ion-col size="6">
                <ion-label class="detalle">{{ personaje.origin.name }}</ion-label>
            </ion-col>
            <ion-col size="6" class="ion-text-right">
                <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-col>
        </ion-row> 

        <ion-row>
            <ion-col size="12">
                <ion-label class="titulo">Locacion</ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="padding-bottom">
            <ion-col size="6">
                <ion-label class="detalle">{{ personaje.location.name }}</ion-label>
            </ion-col>
            <ion-col size="6" class="ion-text-right">
                <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-col>
        </ion-row>   
                      
    </ion-grid>

    <ion-item-divider>
        <ion-label></ion-label>
    </ion-item-divider>
    

 <ion-list>

   

 

    <ion-item *ngFor="let episode of episodes" lines="none">
        

        <ion-col size="3"> 
            <img [src]="character.image"
                 class="imagenEpisodio"/>
        </ion-col>
  
        <ion-col size="9" class="padding">
            <ion-label class="episodio"> Episodio {{ episode.id }}</ion-label>
            <ion-label class="tituloEpisodio"> {{ episode.name }}</ion-label>
            <ion-label class="fechaEpisodio"> {{ episode.air_date }}</ion-label>
        </ion-col>

    </ion-item>
    
    

 </ion-list>

    <!-- Basic -->
    <!-- <ion-accordion-group *ngFor="let episode of episodes" >

        <ion-item lines="none">
            <ion-label class="header">Episodios</ion-label>
        </ion-item>

        <ion-accordion value="colors" >
        <ion-item slot="header" >
            <ion-label>{{ episode.id }} {{ episode.name }} </ion-label>
        </ion-item>
    
        <ion-list slot="content" >
            <ion-item >
            <ion-label >
                <h4>Emision :  {{ episode.air_date }}</h4>
                <h4>Episodio : {{ episode.episode }}</h4>
                <h4>Personajes : {{ episode.characters.length }}</h4>
            </ion-label>
            </ion-item>
        </ion-list>
        </ion-accordion>
    </ion-accordion-group> -->

</ion-content>


